InterviewETL/src/main/resources/input/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Mar 16 2015 16:27:14 GMT+0100 (Central Europe Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="persons">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="person" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="firstName" type="xs:string"></xs:element>
                                                 <xs:element name="lastName" type="xs:string"></xs:element>
                                                 <xs:element name="address" type="xs:string"></xs:element>
                                                 <xs:element name="highSchool" type="xs:string"></xs:element>
                                                 <xs:element name="birthDay" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>